.techIcon {
    margin: 15px; 
    transition-property: width, height;
    transition-duration: 0.3s;
    &:hover {
        margin: 5px;
        width: 260px;
        height: 85px;
    }
}

.socialIcon {
    margin: 5px;

    &:hover {
        cursor:pointer;
    }
}